body{

  background-image: url(/juego-ahorcado2.jpeg);
  width: 100%;
  height: 100%;
  
}
/*
.ganador{
  display: none;/*digo que no se vea
  height: 100vh;
  align-items: center;
  font-size: 5em;
  position: fixed;
  top: 0;
  left: 0;
}*/
/*sector de inicio juego*/
.comienzo{
  background-color:rgba(58, 58, 58, 0.384);
  margin-left: 190px;
  margin-top: 20px;
  border-radius: 30px;
}

/*titulo jugar // area juego */
#canvas-juego{
  margin-top: 130px;/*mueve todo el bloque incluso iniciar juego*/
  margin-left: 650px;
}


/*a jugar!! */
#titulo2{
  display: inline-flexbox;
  font-size: 35px;
  font-style: italic;
  font-weight: 50px;
  padding: 15px;
  margin-top: auto;

}
/* palabra y guiones*/
#frase-Adivinada{
  /*color: blue;*/
  font-size: 20px;
  font-weight: bold;

}
/*titulo intentos fijo*/
#intentos{
  /*color: blueviolet;*/
  font-size: 15px;
  font-weight: bold;
}
/* titulo de las palabrs erradas aparecen de desaparecen*/
#tituloEquivocadas {
  font-weight: bold;
  font-size: 15px;
  /*color: red;*/
}
/*letras erradas que van apareciendo*/
#letras-erradas{
  /*color: green;*/
  font-size: 20px;
  font-weight: bold;
}

.guiones-frase{
  margin-top: 100px;
  margin-right: 30px;
  margin-left: 20px;
}
/*juego del ahorcado*/
.titulo {
  padding: 10px;
  width: 30vw;
  margin: auto;
}
/*parrafo de ingresar palabras*/
#texto{
  /*font-size: 5px;*/
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn {
  background-color: rosybrown; 
    color: black; 
    border: 2px solid #555555;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}
.btn:hover{
  background-color: #555555;
    color: white;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

}
#mge-ganar{
  background-color: aliceblue;

  color: green;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0px;
  margin-left: 80px;
  top: 0em;
  
}


#footer{
  position: absolute !important;
  padding: 2px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.466);
  text-align: center;
  bottom: 0;
  margin-top: 500px;
}
#footer p{
  color: beige;
}

#footer a {
  color: beige;
}

